<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Railway service</title>
</head>
<body>
<div class="ui-menu" th:insert="blocks/header:: navbar"/>
<div class="wrapper">
    <div class="content">
        <br>
        <h3 sec:authorize="isAnonymous()" th:text="'Welcome, user'"/>
        <h3 sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"/></h3>
        <br>
</div>
</div>
</body>
</html>